
{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h2 class="text-center">Confirm Your Email</h2>
                </div>
                <div class="card-body">
                    <p>Thank you for registering with PhotoShare! Please click the link below to confirm your email address:</p>
                    <p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
                    <p>This link will expire in 1 hour.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
